body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #362f2d;
  letter-spacing: 1px;
}
h1,
h2,
h3 {
  color: #e8d6c9;
}
p,
li {
  font-size: 14px;
  color: #838877;
}
a {
  text-decoration: none;
  color: #cf7758;
}
div#sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-right: 1px solid #838877;
  background-color: #362f2d;
  margin: 0;
}
div#sidebar ul#nav {
  padding: 30%;
  list-style-type: none;
}
div#sidebar ul#nav li {
  font-size: 16px;
}
div#sidebar ul#nav li#current {
  font-weight: bold;
}
div#sidebar ul#nav li#current a {
  color: #838877;
}
div#content {
  position: absolute;
  left: 20%;
  padding: 20px;
  width: 80%;
}
div#content div#header {
  z-index: 1;
  background-color: #362f2d;
  position: fixed;
  top: 0;
  left: 265px;
  width: 100%;
  height: 150px;
  padding: 20px;
  color: #e8d6c9;
}
div#content div#header ol#jumpto {
  list-style-type: lower-roman;
}
div#content div#header ol#jumpto li {
  text-transform: uppercase;
  display: inline;
}
div#content div#substance {
  width: 80%;
  position: absolute;
  padding-top: 150px;
}
div#content div#substance div#projectList ul.projects {
  list-style-type: none;
}
div#content div#substance div#projectList ul.projects h2 {
  margin-left: -25px;
  color: #838877;
}
