{% extends "standard.html" %}

{% block header %}
<h1>JESSICA KWOK</h1>
<h2>I AM NOT A DESIGNER</h2>
<a href="http://github.com/jkwok91">Github</a>
{% endblock %}

{% block body %}
<p>Things I like include, but are not limited to:</p>
{% set things = ['food','math','cycling','snowboarding','painting','tea'] %}
<ol>
  {% for item in things %}
    <li>{{ item }}</li>
  {% endfor %}
</ol>

<h2>Short description</h2>
<p>I am Jessica.  I like apples, math, snowboarding, bicycling, pastries, painting, and bling.</p>
<p>I became a programmer after I saw that it was trending.  Meanwhile, my very expensive math degree from NYU continues to be unused.</p>
<p>Everything I know about coding or technology, I have learned outside of a classroom setting.  I mostly use The Internet to acquire more knowledge.  I have also done some "learning on the job."</p>
<p>Previous jobs I have held include:<p>
<ul>
  <li>junior developer at <a href="http://dressler-llc.com">a digital ad agency</a></li>
  <li>development intern at <a href="http://bloomberg.com">Bloomberg</a></li>
  <li><a href="http://insomniacookies.com">cookie</a> delivery cyclist-- Before you question this, know that I learned some Scheme in the two weeks I worked here.  Because I read <a href="http://www.ccs.neu.edu/home/matthias/BTLS/">a book</a> and did exercises when I wasn't biking around The Village.</li>
</ul>
<p>
I also did some pro-bono work for my friend's <a href="http://agrowculture.org">project</a>.
</p>
<p>But if it's job details that you want, a more formal compilation can be found <a href="../static/cv2013.pdf">here</a>, or you can <a href="mailto:jesyska@gmail.com">shoot me an email</a>.</p>
<p>In my free time, I can be found reading books at my local library, Barnes & Noble.  Otherwise, I might be biking along some river.</p>
{% endblock %}
